<h2 style="color:blue">{{ titulo }}</h2>
<!-- Datos empleado estrella -->
<div *ngIf="show_estrella">
  <!-- Adicionar un boton que ejecuta una funcion con directiva click -->
  <button type="button" (click)="cambiarEstado(false)">Mostrar Empleado Recomendado</button>
  <h3>Empleado estrella</h3>
  <ul>
    <li>Nombre: {{ empleado.nombre }}</li>
    <li>Edad: {{ empleado.edad }}</li>
    <li *ngIf="empleado.edad>=18">Mayor de edad</li>
    <li *ngIf="empleado.edad<18">Menor de edad</li>
    <li>Cargo: {{ empleado.cargo }}</li>
    <li *ngIf="empleado.contratado">Esta contratado</li>
    <li *ngIf="!empleado.contratado">No esta contratado</li>
  </ul>
</div>

<!-- Datos empleado recomendado -->
<div *ngIf="!show_estrella">
  <!-- Adicionar un boton que ejecuta una funcion con directiva click -->
  <button type="button" (click)="cambiarEstado(true)">Mostrar Empleado Estrella</button>
  <h3>Empleado recomendado</h3>
  <ul>
    <li>Nombre: {{ trabajadores[2].nombre }}</li>
    <li>Edad: {{ trabajadores[2].edad }}</li>
    <li *ngIf="trabajadores[2].edad>=18">Mayor de edad</li>
    <li *ngIf="trabajadores[2].edad<18">Menor de edad</li>
    <li>Cargo: {{ trabajadores[2].cargo }}</li>
    <li *ngIf="trabajadores[2].contratado">Esta contratado</li>
    <li *ngIf="!trabajadores[2].contratado">No esta contratado</li>
  </ul>
</div>
<hr/>
<h3>Listado de empleados</h3>
<table border="1">
  <thead>
    <tr>
      <th>Indice</th>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Cargo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of trabajadores; let i=index">
      <td>{{ i }}</td>
      <td>{{ empleado.nombre }}</td>
      <td>{{ empleado.edad }}</td>
      <td>{{ empleado.cargo }}</td>
    </tr>
  </tbody>
</table>
<hr/>
<h3>Directiva ngSwitch</h3>
<div [ngSwitch]="color">
  <p *ngSwitchCase="'red'" [ngStyle]="{'background':color, 'padding':'12px', 'color':'white'}">
    Es de color rojo
  </p>
  <p *ngSwitchCase="'yellow'" [ngStyle]="{'background':color, 'padding':'12px', 'color':'white'}">
    Es de color Amarrillo
  </p>
  <p *ngSwitchCase="'green'" [ngStyle]="{'background':color, 'padding':'12px', 'color':'white'}">
    Es de color Verde
  </p>
</div>
