<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<hr/>
<nav>
  <a [routerLink]="['/pagina-principal']" [routerLinkActive]="['activado']">Home</a>
  <a [routerLink]="['/fruta']" [routerLinkActive]="['activado']">Fruta</a>
  <a [routerLink]="['/empleado']" [routerLinkActive]="['activado']">Empleado</a>
  <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">Contacto</a>
  <a [routerLink]="['/coche']" [routerLinkActive]="['activado']">Coche</a>
</nav>
<!-- Hacer uso de la etiqueta del componente FrutaComponent -->
<!-- fruta></fruta>
<hr/>
<Hacer uso de la etiqueta del componente EmpleadoComponent -->
<!--empleado-tag></empleado-tag-->
<!-- Hacer uso de la etiqueta del componente PersonaComponent -->
<!-- hr/>
<persona-tag></persona-tag -->
<!-- Dentro de router-outlet se carga el componente de la url solicitada -->
<router-outlet></router-outlet>
